.be_matetheme_setup .left {
    width: 60%;
    float: left;
}

.be_matetheme_setup .right {
    width: 40%;
    float: right;
}

.be_matetheme_setup .right .inner {
    padding: 30px 0 30px 15px;
}

.be_matetheme_setup .left .inner {
    padding: 30px 15px 30px 0;
}

.be_matetheme_setup h2 {
    margin-bottom: 15px;
}

.be_matetheme_setup img.logo {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.be_matetheme_setup .link-list a {
    padding: 5px 0;
    display: inline-block;
}

.be_matetheme_setup a {
    color: #86af49;
}

.be_matetheme_setup a:hover {
    color: #476a30;
}

.be_matetheme_setup .button a {
    background: #86af49;
    color: #fff;
    padding: 15px;
    display: inline-block;
    margin: 5px 0 15px;
}

.be_matetheme_setup .button a:hover {
    background: #476a30;
}

html[data-color-scheme=dark] .be_matetheme_setup img.logo {
    background: #fff;
    padding: 5px;
}
