@if $other-color-scheme != null {
  $button-flat-color: $mateColorWhite;
  $navbar-stuck-active-color: $mateColorWhite;
  $navbar-stuck-dropdown-hover-color: $mateColorWhite;
  $slider-arrows-color: $mateColorWhite;
  $slider-button-color: $mateColorWhite;
  $footer-newsletter-color: $mateColorWhite;
  $footer-news-events-time-color: $mateColorGreyDark;
  $toplink-color: $mateColorWhite;
  $toplink-color-hover: $mateColorWhite;
  $pagination-hover-background-color: $mateColorGreyLight;
  $select-label-color: $primary-text-color;
  $subnav-dropdown-color: $mateColorWhite;

  .slider-text-below-image .indicators li.indicator-item {
    color: #fff;
  }
}

// only dark color scheme
@if $dark-color-scheme != null {
  $button-flat-color: #fff;
  $navbar-stuck-active-color: #fff;
  $navbar-stuck-dropdown-hover-color: #fff;
  $navbar-search-color: #fff;
  $navbar-mobile-color: #fff;
  $navbar-mobile-dropdown-color: #fff;
  $slider-arrows-color: #fff;
  $slider-button-color: #fff;
  $slider-navigation-subheadline-color: #fff;
  $footer-newsletter-color: #fff;
  $footer-news-events-time-color: #fff;
  $toplink-color: #000;
  $toplink-color-hover: #fff;
  $hyperlink-teaser-color: #fff;
  $table-even-background: lighten($boxes-background, 10%);
  $parallax-headline-color: #fff;
  $parallax-text-color: #fff;
  $parallax-link-color: #fff;
  $faq-page-color: #fff;

  .ce_mateTeaserBox.mate-card .inside.card-panel {
    background: #fff;
  }

  .sidenav.mobile-menu {
    background: $navbar-mobile-background;
  }

  .slider-text-below-image .indicators li.indicator-item {
    color: #fff;
  }
}

// only yellow color scheme
@if $yellow-color-scheme != null {
  $button-flat-color: $mateColorBlack;
  $footer-newsletter-color: $mateColorBlack;
  $footer-news-events-time-color: $mateColorBlack;
  $slider-arrows-border-color: $mateColor2;
  $slider-arrows-color: $mateColor2;
  $toplink-color: $mateColorWhite;
  $subnav-hover-color: $mateColorBlack;
  $subnav-active-color: $mateColorBlack;
  $select-label-color: $primary-text-color;
  $input-border: 2px solid $mateColor2-text-color;
  $input-focus-border: 2px solid $mateColor3;
  $select-border: 2px solid $mateColor2-text-color;
  $faq-page-color: $mateColorBlack;
  $hyperlink-teaser-color: $mateColorBlack;

  .slider-text-below-image .indicators li.indicator-item,
  .slider-text-below-image .indicators li.indicator-item.active {
    color: #000;
  }
}
