/****
 **** mate theme files / custom_variables
 **** uncomment to override materialize variables
 ****
 */

//$font1: 'Lato Light' !default;
//$font2: 'Old Standard' !default;
//$font3: 'Lato Regular' !default;

//$mateColor1: #b6cf92 !default;
//$mateColor2: #86af49 !default;
//$mateColor3: #476a30 !default;
//$mateColor4: #58774e !default;
//$mateColor5: #5f5c4d !default;
//$mateColor6: #abbdb1 !default;
//$mateColorWhite: #fff !default;
//$mateColorBlack: #000 !default;

/*
 * colors
 */

//$primary-color: $mateColor2 !default;
//$primary-text-color: $mateColor4 !default;
//$secondary-color: $mateColor3 !default;
//$navbar-font-color: $secondary-color !default;

/*
 * calculated colors
 */

//$primary-color-light: lighten($primary-color, 15%) !default;
//$primary-color-dark: darken($primary-color, 15%) !default;

/*
 * mate theme specific variables
 */

/* Links */
//$primary-link-font-color: $mateColor2 !default;
//$primary-link-hover-font-color: $mateColor3 !default;

/* Header Navigation */
//$navbar-bg-color: $mateColorWhite !default;
//$navbar-color: $mateColorBlack !default;
//$navbar-active-color: $mateColor2 !default;
//$navbar-dropdown-hover-bg-color: $mateColor1 !default;
//$navbar-dropdown-hover-color: $mateColorWhite !default;
//$navbar-dropdown-bg: $mateColorWhite !default;
//$navbar-dropdown-color: $mateColorBlack !default;
//$navbar-stuck-bg-color: rgba(134,175,73,0.9) !default;
//$navbar-stuck-color: $mateColorWhite !default;
//$navbar-stuck-active-color: $mateColor3 !default;
//$navbar-stuck-dropdown-hover-bg-color: rgba(255,255,255,0.5) !default;
//$navbar-stuck-dropdown-hover-color: $mateColorBlack !default;
//$navbar-stuck-dropdown-color: $mateColorWhite !default;
//$navbar-stuck-dropdown-bg: $navbar-stuck-bg-color !default;

/* Buttons */
//$button-flat-color: $mateColorWhite !default;
//$button-floating-background: $mateColor2 !default;
//$button-floating-background-hover: $mateColor3 !default;

/* Footer */
//$footer-text-color: $mateColorWhite !default;
//$footer-headline-border-color: $footer-text-color !default;
//$footer-secondary-bg-color: $secondary-color !default;