/****
 **** mate theme files / custom_variables
 **** uncomment to override materialize variables
 ****
 */

/*
 * mate theme files / custom_variables
 *
 * uncomment to override materialize variables
 */


/* ============================= */
/*        Colour Schemes         */
/* ============================= */

@import 'mate_color_schemes/mate_green_colors_contrast';
//@import 'mate_color_schemes/mate_dark_colors_contrast';
//@import 'mate_color_schemes/mate_blue_colors_contrast';
//@import 'mate_color_schemes/mate_yellow_colors_contrast';

//@import 'mate_color_schemes/mate_dark_colors';
//@import 'mate_color_schemes/mate_blue_colors';
//@import 'mate_color_schemes/mate_yellow_colors';


/* ============================= */
/*     MATE Theme Variables      */
/* ============================= */

/* Colors */
//$mateColor1: #b6cf92;
//$mateColor2: #86af49;
//$mateColor3: #476a30;
//$mateColor4: #58774e;
//$mateColor6: #abbdb1;

//$mateColorWhite: #fff;
//$mateColorBlack: #000;
//$mateColorGreyLight: #f5f5f5;
//$mateColorGreyDark: #e6e6e6;
//$pageBackground: #f4f8f0;

/* Text Colors */
//$primary-text-color: #000;
//$secondary-text-color: #fff;

/* Boxes */
//$boxes-background: $mateColorWhite;
//$boxes-text-color: $primary-text-color;
